ion-header ion-button {
  margin-right: 15px;
}

ion-item {
  --inner-padding-end: 0;
  --background: transparent;
  --min-height: 24px;
}

ion-item ion-note {
  font-size: 0.9375rem;
  margin-right: 12px;
  font-weight: normal;
  padding: 10px 0 0 0;
}

ion-label {
  margin-top: 10px;
  margin-bottom: 0;
}

ion-checkbox.list-checkbox label.checkbox-wrapper .label-text-wrapper {
  margin-top: 5px;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // overflow: hidden;
}

.note-content {
  padding-top: 10px;

  ion-badge {
    position: absolute;
    right: 15px;
  }
  .notebook-label {
    display: flex;
    color: lightgray;
    &.invisible { visibility: hidden; }

    ion-select {
      min-height: 24px; 
      .select-wrapper-inner {
        flex-flow: row-reverse;
      }
    }
    // ion-select { --padding-top: 0px; }
    ion-select::part(label) {
      // background: yellow; 
      margin-inline-end: 5px;
    }
    ion-select::part(text) { margin-inline-end: 5px; color: #999999; }
    // ion-select::part(placeholder) { background: red; }
    // ion-select::part(icon) { color: red; }


  }
  .note-text-content {
    margin-top: 5px;
  }
  .note-list-content {
    padding: 0;
    margin-top: 5px;
  } 


  ion-checkbox::part(label) {
    margin: 10px 16px;
    margin-right: 0;
    white-space: break-spaces;
  }
  ion-checkbox { --size: 18px; }

  &.mid {
    ion-checkbox::part(label) { margin: 6px 16px; }
    ion-checkbox { --size: 18px; }
  }
  &.large {
    ion-checkbox::part(label) { margin: 2px 16px; }
    ion-checkbox { --size: 18px; }
  }
}


ion-list.dark ion-item { border-bottom: 1px solid #555555; }
