<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-label class="ion-text-wrap" *ngIf="note$ | async as noteOri">
      <h1>{{ noteOri.title }}</h1>
    </ion-label>    
    <ion-button *ngIf="!moreInfo" slot="end" color="secondary" (click)="moreInfo = true">More Options</ion-button>
    <ion-button *ngIf="moreInfo"  slot="end" color="secondary" (click)="moreInfo = false">Less</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="note">
  <ion-alert
    [isOpen]="isAlertOpen"
    header="Delete Note"
    message="Are you sure you want to delete this note?"
    [buttons]="alertButtons"
    (didDismiss)="delAlert(false)"
  ></ion-alert>

  <ion-alert
    [isOpen]="editAlert.isOpen"
    header="Edit List Item"
    [buttons]="editAlert.buttons"
    [inputs]="editAlert.inputs"
    (didDismiss)="editAlert.isOpen = false"
  ></ion-alert>

  <ion-accordion-group #accordionGroup [value]="moreInfo ? 'more' : undefined">
    <ion-accordion value="more">
      <!-- <ion-item slot="header" color="light">
        <ion-label>...</ion-label>
      </ion-item> -->
      <div slot="content" style="padding: 0 7.5px;">

        <ion-grid>

          <!-- Created -->
          <ion-row>
            <ion-col><ion-label>Created:</ion-label></ion-col>
            <ion-col><ion-note color="primary">{{ created$ | async | date: 'dd MMM y - HH:mm:ss' }}</ion-note></ion-col>
          </ion-row>

          <!-- Updated -->
          <ion-row>
            <ion-col><ion-label>Updated:</ion-label></ion-col>
            <ion-col><ion-note color="secondary">{{ updated$ | async | date: 'dd MMM y - HH:mm:ss' }}</ion-note></ion-col>
          </ion-row>

          <!-- Title -->
          <ion-row>
            <ion-col>
              <ion-input 
                fill="outline"
                label="Title:"
                [value]="note.title"
                #titleInput
                (ionInput)="note.title = $event.detail.value || ''; noteChange$.next(note)">
              </ion-input> 
            </ion-col>
          </ion-row>

          <!-- Order -->
          <ion-row>
            <ion-col>
              <ion-input fill="outline" 
                label="Order:"
                type="number"
                [maxlength]="20"
                [value]="note.order"
                (ionInput)="updateOrder($event)">
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-toolbar>
                <ion-toggle slot="end" [checked]="note.mode === 'list'" (ionChange)="changeMode($event.detail.checked)">List Mode:</ion-toggle>
              </ion-toolbar>
            </ion-col>
          </ion-row>

          <!-- Buttons -->
          <ion-row>
            <ion-col>
              <ion-toolbar>
                <ion-button slot="start" (click)="delAlert(true)" color="danger"><ion-icon name="trash-outline"></ion-icon> Del</ion-button>
                <ion-button slot="start" (click)="saveNote()"><ion-icon name="save-outline"></ion-icon> Save</ion-button>
                <ion-button slot="end"   (click)="shareNote()"><ion-icon slot="start" name="share-outline"></ion-icon>Share</ion-button>                
              </ion-toolbar>
            </ion-col>
          </ion-row>

        </ion-grid>
      

      </div>
    </ion-accordion>
  </ion-accordion-group>


  <div class="ion-padding note-content" [ngClass]="listSize">
 
    <ion-badge *ngIf="note.$saved === 'yes'"    color="success" style="visibility: hidden;">Saved</ion-badge>
    <ion-badge *ngIf="note.$saved === 'saving'" color="warning"> Saving... </ion-badge>
    <ion-badge *ngIf="note.$saved === 'no'"     color="danger"> Unsaved </ion-badge>

    <!-- <div class="notebook-label" [class.invisible]="!note.notebookId"> -->
    <div class="notebook-label">
      <ion-icon style="margin: 2px 5px 0 0;" name="book-sharp" size="small"></ion-icon>
      <!-- <ion-action-sheet
        [isOpen]="isActionSheetOpen"
        header="Move to Notebook:"
        [buttons]="notebookActionButtons"
        (didDismiss)="setOpen(false)"
      ></ion-action-sheet> -->
      <ion-select 
        aria-label="notebook"
        justify="start"
        interface="action-sheet"
        label="Notebook:"
        cancelText="-- Cancel --"
        toggleIcon=""
        [value]="note.notebookId"
        (ionChange)="moveNotebook($event.detail.value)"
        >
        <!-- toggleIcon="book" -->
        <!-- selectedText=" " -->
        <ion-select-option *ngFor="let notebook of data.notebooks$ | async" [value]="notebook.id">
          <!-- <ion-icon name="book-sharp"></ion-icon> -->
          {{notebook.name}}
        </ion-select-option>
      </ion-select>


      <!-- <span style="margin-left: 5px;">{{note.notebookId}}</span> -->
    </div>

    <!-- Content -->
    <div class="note-text-content" *ngIf="note.mode === 'text'">
      <ion-textarea fill="outline" 
                    [autoGrow]="true"
                    [autofocus]="true"
                    [value]="note.content"
                    (ionInput)="updateContent($event)">
      </ion-textarea>
      <ion-toolbar style="margin-top: 30px" *ngIf="!moreInfo && listBtn">
        <ion-toggle slot="start" [checked]="data.config.jumpMode" (ionChange)="changeListEditMode($event.detail.checked)" *ngIf="showListEditMode()">Dash on Break</ion-toggle>
        <ion-button slot="end" color="secondary" (click)="changeMode(true)">List Mode</ion-button>
      </ion-toolbar>
    </div>

    <ion-list class="note-list-content" style="padding: 0" *ngIf="note.mode === 'list'" [class.dark]="data.config.darkMode">
      <ion-item *ngFor="let item of checkList" [detail]="false">
          <ion-checkbox 
            class="list-checkbox"
            justify="start"
            labelPlacement="end"
            [checked]="item.checked"
            (ionChange)="checkItem(item, $event.detail.checked)">{{item.text}}</ion-checkbox>
          <ion-icon name="caret-forward-outline" (click)="openEditNote(item)"></ion-icon>
          <!-- <ion-button slot="end" color="primary" (click)="openEditNote(item)">Edit</ion-button> -->
      </ion-item>
      <ion-toolbar style="margin-top: 30px" *ngIf="!moreInfo">
        <ion-button slot="end" color="secondary" (click)="changeMode(false)">Text Mode</ion-button>
      </ion-toolbar>
    </ion-list>
    
    <!-- <pre>checkList={{checkList | json}}</pre> -->


  </div>


</ion-content>
