<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div>
    <h2>Raw Content</h2>
    <div>
      {{ list$ | async | json}}
    </div>
  </div> -->
  
  <ion-list>
    <ion-item *ngFor="let note of data.notes$ | async" [routerLink]="'/notes/' + note.id" [detail]="false">
        <div slot="start" class="dot dot-unread"></div>
        <ion-label class="ion-text-wrap">
          <h2>
            {{ note.title }}
            <span class="date">
              <ion-note>{{ note.updated | json }}</ion-note>
              <ion-icon aria-hidden="true" name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
            </span>
          </h2>
          <h3>{{ note.content }}</h3>
          <p>ID = {{ note.id }}</p>
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>